@tailwind base;
@tailwind components;
@tailwind utilities;

#hero{
  background-image: url('./img/banner-bg.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
}

@media (max-width: 576px) {
  #hero{
    background-image: url('./img/banner-bg.png'); 
    background-position: center;
  }
}


#WorkProcess{
  background-image: url('./img/work-process-bg.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 576px) {
  #WorkProcess{
    background-image: url('./img/work-process-bg.png'); 
    background-position: center;
  }
}

body{
  animation: appear linear;
  animation-timeline: view() ;
  animation-range: entry 0;
}

#animate{
  background-image: url('./img/fun-facts-bg.png'); 
  background-repeat: no-repeat;
  background-size: cover;
}

#footer{
  background-image: url('./img/fun-facts-bg.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 7px;
  margin-right: 7px;
}


/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
